<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" >
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="top-header-left">
                <img id="logo" src="images/logo-mercado-liebre.svg" alt="Logo"> 
                <span class="topnav">
                    <input type="text" placeholder="Search..">
                </span>
                <span><i class="fas fa-search search"></i></span>
            </div>
            <div class="manito"><i class="fas fa-hand-holding-usd usd"></i><span class>Comprá en cuotas y sin tarjeta de crédito</span></div>
        </div>
             
        <nav class="main-menu">
            <ul type="none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#"a>Ayuda</a></li>
            </ul>
            <div>
            <ul type="none">
                <li><span>
                    <a href="/register">Creá tu cuenta</a>
                    <i id ="logos" class="far fa-address-card"></i>
                </span></li>
                <li><span>
                    <a href="/login">Ingresá</a>
                    <i id ="logos" class="fas fa-sign-in-alt"></i>
                </span></li>   
                <li><span>
                    <a href="#">Mis Compras</a>
                    <i id ="logos" class="fas fa-shopping-basket"></i>
                </span></li>
            </ul>
            </div>
        </nav>  
   
    <div class="burger-menu" >
        <i class="fas fa-bars icono"></i>
    </div>  
    </header> 

<div><img class="imagen" src="images/img-home-banner.jpg" alt="banner"></div>

<main>
    <section>
        <h2>Basado en tu última visita</h2>
        <div class="section-class">
            <article>  
                <img class="imagen" src="images/img-cafetera-moulinex.jpg" alt="foto de cafetera">
                <i class="fas fa-truck truck"></i>
                <div class="article-data">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                </div>
                <h4 class="producto">Cafetera Moulinex</h4>
            </article>
            <article>
                <img class="imagen" src="images/img-macbook-pro-2019.jpg" alt="foto de macbook">
                <i class="fas fa-truck truck"></i>
                <div class="article-data">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                </div>
                <h4 class="producto">MacBook Pro 2019</h4>
            </article>
            <article>
                <img class="imagen" src="images/img-samsung-galaxy-s10.jpg" alt="foto de samsung">
                <i class="fas fa-truck truck"></i>
                <div class="article-data">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                </div>
                <h4 class="producto">Samsung Galaxy S10</h4>
            </article>
            <article>
                <img class="imagen" src="images/img-tv-samsung-smart.jpg" alt="foto de smart tv">
                <i class="fas fa-truck truck"></i>
                <div class="article-data">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                </div>
                <h4 class="producto">SmartTv Samsung 43"</h4>
            </article>
        </div>
    </section>

    <section>
        <h2>Seccción Ofertas</h2>
        <div class="section-class">
            <article>
                <img class="imagen" src="images/img-cafetera-moulinex.jpg" alt="foto de cafetera">
                <i class="fas fa-truck truck"></i>
                <div class="article-data">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                </div>
                <h4 class="producto">Cafetera Moulinex</h4>
            </article>
            <article>
                <img class="imagen" src="images/img-macbook-pro-2019.jpg" alt="foto de macbook">
                <i class="fas fa-truck truck"></i>
                <div class="article-data">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% off</p>
                </div>
                <h4 class="producto">MacBook Pro 2019</h4>
            </article>
            <article>
                <img class="imagen" src="images/img-samsung-galaxy-s10.jpg" alt="foto de samsung">
                <i class="fas fa-truck truck"></i>
                <div class="article-data">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                </div>
                <h4 class="producto">Samsung Galaxy S10</h4>
            </article>
            <article>
                <img class="imagen" src="images/img-tv-samsung-smart.jpg" alt="foto de smart tv">
                <i class="fas fa-truck truck"></i>
                <div class="article-data">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                </div>
                <h4 class="producto">SmartTv Samsung 43"</h4>
            </article>
        </div>
    </section>
</main>

<footer  class="texto-footer">
    <section>
        <div class="logoFooter"><i class="fas fa-credit-card"></i></div>
        <h3 class="textoResaltado">Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
        <div class="logoFooter"><i class="fas fa-gift"></i></div>
        <h3 class="textoResaltado">Envío gratis desde $2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
       productos. Es un beneficio de Mercado Puntos.</p>  
    </section>
    <section>
        <div class="logoFooter"><i class="fas fa-user-shield"></i></div>
        <h3 class="textoResaltado">Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
           porque estás siempre protegid@.</p>  
    </section>
</footer>

<section>
    <p class="copyR">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</section>

</body>
</html>